[Desktop Entry]
Version=1.0
Exec=xterm -e 'cd /media/$USER/WSJTX/; sudo apt update; sudo usermod -aG dialout $USER; sudo dpkg -i ./tqsl-2.6.2.deb; sudo apt install -y libwxgtk3.0-dev; sudo apt install -y liblmdb0; sudo dpkg -i ./wsjtx_2.0.0_i386.deb; sudo apt-get -y -f install; cp tqsl.desktop ~/Desktop; sudo chmod  +x ~/Desktop/tqsl.desktop; cp wsjtx.desktop ~/Desktop; sudo chmod  +x ~/Desktop/wsjtx.desktop; sudo rm -f ~/Desktop/helpmanual.desktop; sudo cp -f default.pa /etc/pulse/; cp -f WSJT-X.ini ~/.config/'
Name=Install WSJTX (includes TQSL)
GenericName=Install WSJTX (includes TQSL)
Comment=Install WSJTX (includes TQSL)
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;
Icon=
StartupNotify=false
Path=/media/john/WSJTX/
